*{
    font-family:  "Times New Roman", Times, serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*img{
    width: 100%;
    border: 8px solid rgba(170, 223, 117, 0.3);
}*/
body{
    background: url("../img/back.jpg") 00px;
}
#contain{
    display: flex;
    flex-direction: row;
    vertical-align: center;
}
button,#next,#prev{
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateY(350%);
    border: 1px solid white;
    border-radius: 90px;
    color: lightblue;
    font-weight: bold;
}
.container{
    padding-top: 80px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.274);
    padding-bottom: 80px;
}


.data{
    padding-top: 10px;
    background-color: white;
    height: 40px;
}
.logo img{
    padding-left: 10px;
}
#but{
    margin-top:2.5%;
    display: flex;
}
a{
    margin-left:4px;
    color: white;
}
h3{
    font-size: 20px;
}
.telefono{
    display: inline-flex;
    color: gray;
}
.telefono h3{
    margin-left: 2px;
}

.container-info{
    margin-top:38px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
}